.keyboard {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(10, 1fr);
}

.key {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 30px;
  padding: 8px;
  height: 45px;
  width: 45px;
  background-color: #eee;
  border: 1px solid #000;
  box-sizing: border-box;
  cursor: pointer;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 8px;
  height: 45px;
  background-color: #ccc;
  border: 1px solid #000;
  box-sizing: border-box;
}
.textarea {
  letter-spacing: 1.8px;
  font-weight: 700;
  width: 500px;
  height: 200px;
  background-color: white;
  color: black;
}
.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.languages {
  display: flex;
  gap: 20px;
}
.languages button {
  padding: 10px;
  font-weight: 700;
  font-size: 15px;
  background-color: #000;
  border: 1px solid #eee;
  color: #eee;
}
.sizes {
  display: flex;
  gap: 10px;
}
.sizes button {
  width: 70px;
  height: 70px;
}
.colors {
  display: flex;
  gap: 10px;
}
.colors button {
  color: white;
  font-weight: 700;
  padding: 10px;
  font-size: 20px;
  border-radius: 8px;
}
